@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

@font-face {
  font-family: "Gill Sans";
  src: local("Gill Sans"), url("./assets/fonts/GillSans.otf") format("opentype");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Gill Sans", sans-serif;
}
